.container-home-body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.container-home-wrapper{
    display: flex;
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    margin-top: 25px;
    width: 63%;
    flex-direction: column;
    align-items: center;
}


.title-home-body-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    background: rgba(81, 81, 81, 0.92);
}
.title-home-body{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.body-element-image-block{
    background: url("../../../../images/cover.jpg");
    height: 260px;
    width: 330px;
    border-radius: 10px 0 0 10px;
    background-size:cover;
}
.home-body-element{
    border-radius: 10px;
    display: flex;
    margin: 20px 45px;
    background: rgba(63, 62, 62, 1);
}
.body-text-block{
    margin-left: 10px;
    width: 430px;
    padding: 10px 50px 10px 10px;
    text-align: right;
}
.body-title-element{
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.body-text-element{
    margin-top: 40px;
    font-size: 16px;
    font-weight:lighter;
    color: white;
}

.second-body-text-block{
    margin-right: 10px;
    width: 430px;
    padding: 10px 20px 10px 40px;
    text-align: left;
}
.second-body-element-image-block{
    background: url("../../../../images/Ругня.jpg");
    height: 260px;
    width: 330px;
    border-radius: 0px 10px 10px 0px;
    background-size:cover;   
}
.second-body-element{
    margin-top: 40px;
    margin-bottom: 40px;
}
.home-body-line{
    height: 14px;
    width: 100%;
    background: rgba(68, 68, 68, 1);
}
.home-body-services{
    display:flex;
    align-items: center;
    background: rgba(68, 68, 68, 1);
    width: 830px;
    margin: 20px 0 30px 0;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;
}
.body-services-title{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.body-services-list-block{
    width: 800px;
    margin: 10px 60px 20px 60px;
    text-align:justify;
}
.body-about-message{
    margin: 0;
    font-size: 16px;
    font-weight:lighter;
    color: white;
}
.home-body-link{
    width: 180px;
    height: 50px;
    margin-bottom: 20px;
    text-decoration: none;
}
.body-link-block{
    background: rgba(255, 182, 39, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
}
.body-link-block:hover{
    background: rgba(210, 146, 20, 1);
}
.body-link-text{
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    color: white;
}
