.select-block{
    position: relative;
    width: 140px;
    display: flex;
    flex-direction: column;
}
.select-preview-block{
    width: 120px;
    height: 20px;
    background: rgba(184, 193, 201, 1);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.select-list-item-block{
    width: 140px;
    position: absolute;
    overflow: auto;
    max-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(166, 173, 180);
    top: 45px;
    z-index: 2;
}
.select-item-block{
    text-align: center;
    margin: 5px;
}
.select-item-block:hover{
    color:aliceblue
}